#flag {
  position: relative;
  background-color: yellow;
  background-image: none;
  background-size: cover;
  border-radius: 8px;
  resize: both;
}

.default-size {
  width: 500px;
  height: 300px;
}

.vertical-bars-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.vertical-bar {
  flex: 1;
  height: 100%;
}

.horizontal-bars-container {
  display: flex;
  position: relative;
  flex-direction: column;
  /* Arrange bars vertically */
  width: 100%;
  /* Width of the container */
  height: 100%;
}

.horizontal-bar {
  flex: 1;
  /* Each bar takes an equal portion of the available space */
  width: 100%;
}

.fullwh {
  width: 100%;
  height: 100%;
}

#flags .column {
  height: 80px;
}

.setnone {
  display: none !important;
}

.resizable {
  resize: both;
  overflow: auto;
}

.selected {
  border: 3px solid skyblue;
}

.resizable {
  overflow: hidden;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.resizable .resizers {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.dragger {
  width: 95%;
  height: 95%;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resize-container {
  position: relative;
}

.tabs ul li {
  width: 80px;
}

.rotater:hover {
  background-color: aqua;
}

.rotater {
  background: url(../img/rotater.png);
  background-size: 100% 100%;
  height: 15px;
  right: 0px;
  top: 50%;
  position: absolute;
  width: 15px;
}

.is-full {
  width: 100%;
  height: 100%;
  background-size: contain;
}

.flagimg {
  width: 100%;
}

.left-triangle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: polygon(50% 50%, 0 0, 0 100%);
}

.top-triangle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: polygon(100% 0, 0 0, 50% 40%);
}

.top-zig-zag {
  --mask: conic-gradient(from 135deg at top, #0000, #000 1deg 89deg, #0000 90deg) 50%/60.00px 100%;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.bottom-zig-zag {
  --mask: conic-gradient(from -45deg at bottom, #0000, #000 1deg 89deg, #0000 90deg) 50%/60.00px 100%;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.right-zig-zag {
  --mr: conic-gradient(from -135deg at right, #0000, #000 1deg 89deg, #0000 90deg) right/51% 80px repeat-y;
  -webkit-mask: var(--mr);
  mask: var(--mr);
}

.scooped-bottom {
  --mask: radial-gradient(30px at bottom, #0000 97%, #000) 50% / 55.50px 100%;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.scooped-top {
  --mask: radial-gradient(30px at top, #0000 97%, #000) 50% / 55.50px 100%;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.scooped-left {
  --mask: radial-gradient(30px at left, #0000 97%, #000) 50%/ 100% 55.50px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.scooped-right {
  --mask: radial-gradient(30px at right, #0000 97%, #000) 50%/ 100% 55.50px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.scalloped-top {
  --mask:
    linear-gradient(to bottom, #0000 30px, #000 0),
    radial-gradient(30px, #000 98%, #0000) top/55.50px 60px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.scalloped-bottom {
  --mask:
    linear-gradient(to top, #0000 30px, #000 0),
    radial-gradient(30px, #000 98%, #0000) bottom/55.50px 60px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.wavy-top {
  --mask:
    radial-gradient(30px at 25% 0, #0000 98%, #000) 50% 30px/120px 100% repeat-x,
    radial-gradient(30px at 75% 50%, #000 99%, #0000 101%) top/120px 60px repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.wavy-bottom {
  --mask:
    radial-gradient(30px at 75% 100%, #0000 98%, #000) 50% calc(100% - 30px)/120px 100% repeat-x,
    radial-gradient(30px at 25% 50%, #000 99%, #0000 101%) bottom/120px 60px repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.wavy-right {
  --mask:
    radial-gradient(30px at 100% 25%, #0000 98%, #000) calc(100% - 30px) 50%/100% 120px repeat-y,
    radial-gradient(30px at 50% 75%, #000 99%, #0000 101%) right/60px 120px repeat-y;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.wavy-left {
  --mask:
    radial-gradient(30px at 0 75%, #0000 98%, #000) 30px 50%/100% 120px repeat-y,
    radial-gradient(30px at 50% 25%, #000 99%, #0000 101%) left/60px 120px repeat-y;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.left-border {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transform: rotate(180deg);
}